
  <h2>{{ getHome() }}</h2>
  <div *ngIf="isNotConnected()">
    <label>Nom d'utilisateur</label>
    <input name="username" type="text" placeholder="Username" [(ngModel)]="model.username" />
    <label>Mot de passe</label>
    <input name="password" type="password" placeholder="Password" [(ngModel)]="model.password" />
    <button (click)="login()" class="btn btn-go">Go!</button>
  </div>

  <div *ngIf="isConnected()">
  Vous etes déja connecté , ou voulez vous allez maintenant ?
    <a href="home">Revenir au catalogue</a>
    <a href="panier">Accéder à votre panier </a>
  </div>
