
  <div *ngIf="isNotConnected()">
  <div id="corps_login">
	<h2>{{ getHome() }}</h2>
    <label>Nom d'utilisateur : </label><br>
    <input name="username" type="text" placeholder="Pseudo" [(ngModel)]="model.username" />
    <label>Mot de passe : </label><br>
    <input name="password" type="password" placeholder="Mot de passe" [(ngModel)]="model.password" /><br><br>
    <button (click)="login()" class="btn btn-go">Go!</button>
  </div>
</div>
  <div *ngIf="isConnected()">
  <div class="alert alert-warning">
  <strong>Attention !</strong> Vous êtes déja connecté, où voulez-vous aller maintenant ? <a href="home"> Revenir au catalogue </a> <a href="panier"> Accéder à votre panier </a>
</div>
  </div>
