 <h2> Contenu de votre panier : </h2>

 <div *ngIf="estVide()">
   <p>Votre panier est actuellement vide. <a href="/home"> Revenir au catalogue</a></p>
 </div>


 <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let achat of listeProduit; let i=index">
      Nom : {{achat.nom}}
      <span id="desc"> Description : {{achat.label}}</span>
      <span class="badge badge-primary badge-pill">{{achat.prix}} €</span>
      <button class="btn btn-primary" (click)="supprimerProduit(i, achat)">retirer du panier</button>
    </li>
  </ul>

<div class="alert alert-success" role="alert">
  Prix total de votre Panier : {{PrixTotal}} €
  <div *ngIf="pasVide()">
    <a [routerLink]="['/Commande',randomPage]" >Effectuer votre commande </a>
</div>
 </div>
