<label>Nom du nouveau produit à ajouter au catalogue</label>
<br/>
<input name="nom" type="text" placeholder="nom du nouveau produit" [(ngModel)]="NouveauProduit.nom" />
<br/>
<label>Label du nouveau produit</label>
<br/>
<input name="label" type="labelProduit" placeholder="label du nouveau produit" [(ngModel)]="NouveauProduit.label" />
<br/>
<label>Description du nouveau produit</label>
<br/>
<input name="description" type="DescriptionProduit" placeholder="description du nouveau produit" [(ngModel)]="NouveauProduit.description" />
<br/>
<label>Prix du nouveau produit</label>
<br/>
<input name="Prix" type="number" placeholder="Prix du nouveau produit" [(ngModel)]="NouveauProduit.prix" />
<br/>
<button (click)="ajouterProduit()" class="btn btn-go">Ajouter le nouveau produit au catalogue</button>
