<div id="corps_ajout">
<h2>Ajout d'un produit au catalogue</h2>

<label>Nom : </label>
<input name="nom" type="text" placeholder="Ajouter le nom..." [(ngModel)]="NouveauProduit.nom" />
<label>Label : </label>
<input name="label" type="labelProduit" placeholder="Ajouter le label..." [(ngModel)]="NouveauProduit.label" />
<label>Description : </label>
<input name="description" type="DescriptionProduit" placeholder="Ajouter la description..." [(ngModel)]="NouveauProduit.description" />
<label>Prix : </label><br/>
<input name="Prix" type="number" placeholder="Ajouter le prix..." [(ngModel)]="NouveauProduit.prix" />
<button (click)="ajouterProduit()" class="btn btn-go">Ajouter le produit au catalogue</button>
</div>